* {
  margin: 0;
  padding: 0;
  font-family: "Gemunu Libre";
  font-size: 18px;
  color: rgb(211, 202, 202);
  letter-spacing: 1px;

}

body {
  background-color: #141416;
  height: 100vh;
}

a {
  text-decoration: none;
  color: rgb(211, 202, 202);
}

.navbar-nav {
  margin: 10vw;
}

.navbar {
  background-color: #161616;
  font-size: 18px;
  height: 60px;
  position: fixed;
  max-width: inherit;
  width: 100%;
  top: 0%;
  z-index: 100;
}

.navbar-nav>.nav-item>.nav-link {
  font-family: "Gemunu Libre", sans-serif;
  letter-spacing: 3px;
  color: rgb(211, 202, 202);
}

.logo {
  font-size: 35px;
  font-family: "Miltonian Tattoo", serif;
}

.hero-section {
  color: rgb(211, 202, 202);
}

.hero-section-figure {
  margin-left: 70px;
}

.hero-img {
  height: 300px;
  border-radius: 40px;
  margin-top: 80px;
  margin-left: 400px;
}

.about-me {
  margin-right: 150px;
  margin-top: 75px;
}

.about-me-header {
  margin-left: 100px;
}

.about-me-para {
  font-family: "Gemunu Libre", sans-serif;
  line-height: 1.5;
  letter-spacing: 1px;
  font-size: 18px;
  margin-left: 100px;
}

h3:hover {
  text-decoration: 3px underline rgb(117, 116, 116);
}

#skills {
  margin-top: 5vw;
}

.skills-fig {
  background-color: rgb(28, 28, 29);
  border-radius: 30px;
  width: 400px;
  margin-top: 5vw;
}

.tools-fig {
  background-color: rgb(28, 28, 29);
  border-radius: 30px;
  width: 400px;
}

/* label{
  width:200px;
  height:50px;
  position:relative;
  display:block;
  background-color: aliceblue;
  border-radius: 200px;
  box-shadow: inset 0px 5px 15px rgba(190, 186, 186, 0.4),inset 0px -5px 15px rgba(255,255,255,0.4);
  cursor:pointer;
  transition:0.3s;
}
label:after{
  content:"";
  width:100px;
  height:50px;
  position:absolute;
  top:0px;
  left:2px;
  background: linear-gradient(180deg, #020202,#000000);
  border-radius: 180px;
  box-shadow: 0px 5px 1-px rgba(245, 242, 242, 0);
  transition:0.3s;
}
input{
  width:0;
  height:0;
  visibility:hidden;
 
}

input:checked+ label{
background-color: #f5f0f0;
}
 input:checked + label:after{
  left:90px;
  transform:translateX(10%);
  background: linear-gradient(180deg,#000000,#7c7b7b);
  }

  label:active:after{
    width:70px;
  }
label span{
  position:absolute;
  font-size:2rem;
  z-index:100;
} */

.skills-tools {
  width: 200px;
  height: 30px;
  border-radius: 50px;
  background-color: #080808;
  color: rgb(255, 255, 255);
  position: relative;

}

.skills-tools:before {
  content: "Skills";
  z-index: 1;
  position: absolute;
  top: 3px;
  left: 30px;
}

.skills-tools:after {
  content: "";
  width: 100px;
  height: 30px;
  background-color: #2f2f31;
  color: white;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 180px;
  transition: 0.3s;


}

.skills-tools-toggle {
  width: 0;
  height: 0;
  visibility: hidden;
}


.skills-tools-toggle:checked+.skills-tools:after {
  left: 90px;
  transform: translateX(10%);
  content: "Tools";
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;

}

.active {
  display: inline;
}

.hidden {
  display: none;
}

#projects {
  margin-top: 10vw;
}

.card {
  width: 800px;
  height: 600px;
  background-color: transparent;
}

.card-img-top {
  height: 600px;
}

#contact {
  margin-top: 10vw;
  margin-bottom: 10vw;
}

.contact-me,
.contact-list li {
  margin-left: 7.3vw;
  padding: 0.36vw;
  list-style: none;
}

.contact-list i {
  margin: 0.75vw;
}

.contact-list p {
  margin-left: 10vw;
}

#footer {
  background-color: #181717;
  height: 2.1vw;
  width: 100%;
  bottom: 0;
  position: relative;

}


/* responsive */
@media (max-width: 1200px) {
 
  .hero{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size:30px;
  }
  .about-me{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .about-me-para{
    width:100%;
  }
  
}

@media (max-width: 800px) {
  .skills-section{
    width:100%;
  }

  .skill{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:700px;
    margin:0px;
    font-size:3vw;
  }
 
 
  .card {
    width: 600px;
    height: 500px;
    background-color: transparent;
    margin:0px;
  }
  
  .card-img-top {
    height: 500px;
  }

  }
 
